body {
    background-attachment: fixed;
    background-image: url(https://shrts.net/a6iA6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.head {
    float: centre;
    font-weight: 900;
    font-weight: bolder;
    font-style: oblique;
    color: whitesmoke;
    font-stretch: initial;
}

.text {
    font-style: oblique;
    font-weight: bolder;
    font-size: initial;
    color:purple;
}
.page {
    font-size: inherit;
    font-weight: lighter;
    font-family: sans-serif;
    float: left;
}